
#review-component {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

  .top-level {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;

    .content-header {
      display: flex;
      flex-direction: row;

      .stars {
        font-size: 24px;
        color: #bd5b0d;
      }

      .username {
        padding: 10px 5px 0px 10px;
        font-weight: 700;
      }

      .timestamp {
        padding-top: 10px;
      }
    }

    .content-title {
      font-weight: 700;
      font-size: 18px;
      margin-top: 0px;
    }

    .review-data {
      width: 50%;
      margin-bottom: 30px;
      font-size: 16px;
    }

    .recommended {
      margin: 20px 0;

      .yes{
        font-weight: 700;
      }
    }
    .content-footer {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;

      .helpful {
        margin-right: 10px;
      }
    }
  }
}