
#review-component {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

  .top-level {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    padding-top: 10px;
    margin-top: 5px;

    .content-header {
      display: flex;
      flex-direction: row;

      .stars {
        font-size: 18px;
        color: #c5c5c5;
      }

      .username {
        padding: 5px 5px 0px 10px;
        font-weight: 700;
      }

      .timestamp {
        padding-top: 5px;
      }
    }

    .content-title {
      font-weight: 700;
      font-size: 18px;
      margin-top: 0px;
    }

    .review-data {
      width: 50%;
      margin-bottom: 30px;
      font-size: 16px;
    }

    .recommended {
      margin: 20px 0;

      .check {
        background-color: black;
        color: white;
        border-radius: 50%;
        font-size: 16px;
      }

      .yes{
        font-weight: 700;
      }
    }
    .content-footer {
      display: flex;
      flex-direction: row;
      margin-bottom: 5px;
      padding-bottom: 10px;

      button {
        -webkit-appearance: button;
        background-color: #EDEDED;
        padding: 2px 10px;
        margin: 0px 5px 0px 0px;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
      }

      .helpful {
        margin-right: 10px;
      }
    }
  }
}